.text_area_feild {
    .MuiOutlinedInput-input {
        padding: 8.5px 6px;
    }
    .MuiInputLabel-outlined {
        transform: translate(16px, 15px) scale(1);
    }
}
.title-border {
    position: absolute;
    margin-top: -7px;
    margin-left: 40px;
}
.list_company_body {
    background: white;
}
.select-information:hover {
    color:green;
    cursor: pointer;
}
.pagination-limitor{
    width: 60px;
    height: 29px;
}